<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--log4net配置开始-->
  <log4net>
    <root>
    </root>
    <logger name="Info">
      <level value="INFO" />
      <appender-ref ref="rollingInfoFile" />
    </logger>
    <logger name="Debug">
      <level value="DEBUG" />
      <appender-ref ref="rollingDebugFile" />
    </logger>
    <logger name="Error">
      <level value="ERROR" />
      <appender-ref ref="rollingErrorFile" />
    </logger>
    <appender name="rollingInfoFile" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" type="" value="log/Info/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="StaticLogFileName" value="false" />
      <param name="MaximumFileSize" value="1000KB" />
      <param name="MaxSizeRollBackups" value="-1" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%n[%d] %c %n%m%n%n" />
      </layout>
    </appender>
    <appender name="rollingDebugFile" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" type="" value="log/Debug/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="StaticLogFileName" value="false" />
      <param name="MaximumFileSize" value="1000KB" />
      <param name="MaxSizeRollBackups" value="-1" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%n[%d] %c %n%m%n%n" />
      </layout>
    </appender>
    <appender name="rollingErrorFile" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" type="" value="log/Error/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="StaticLogFileName" value="false" />
      <param name="MaximumFileSize" value="1000KB" />
      <param name="MaxSizeRollBackups" value="-1" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%n[%d] %c %n%m%n%n" />
      </layout>
    </appender>
  </log4net>
  <!--log4net配置结束-->
</configuration>
