@{
    ViewBag.Title = "首页";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage.cshtml";
}
@section scripts{
    <script src="~/Areas/Manager/Content/js/plugins/angularjs/plugins/angular-flot.js"></script>
    <script src="~/Areas/Manager/Content/js/plugins/flot/jquery.flot.js"></script>
    <script src="~/Areas/Manager/Content/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/Areas/Manager/Content/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="~/Areas/Manager/Content/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/Areas/Manager/Content/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="~/Areas/Manager/Content/js/plugins/flot/jquery.flot.symbol.js"></script>
    <script src="~/Areas/Manager/Content/js/controllers/homeController.js"></script>
}
<div class="wrapper wrapper-content" ng-controller="homeCtrl" ng-cloak>
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">今天</span>
                    <h5>销售总额(元)</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{vm.SaleAmount.TodayAmount|currency:'￥'}}</h1>
                    <div class="stat-percent font-bold text-success" ng-bind-html="(((vm.SaleAmount.TodayAmount-vm.SaleAmount.ContrastAmount)/vm.SaleAmount.ContrastAmount)|number:2)|trend_conversion">
                    </div>
                    <small>较昨日</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">今天</span>
                    <h5>下单数(单)</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{vm.OrderNumber.TodayNumber}}</h1>
                    <div class="stat-percent font-bold text-info" ng-bind-html="(((vm.OrderNumber.TodayNumber-vm.OrderNumber.ContrastNumber)/vm.OrderNumber.ContrastNumber)|number:2)|trend_conversion">
                    </div>
                    <small>较昨日</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">今天</span>
                    <h5>新增店铺(家)</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{vm.ShopNumber.TodayNumber}}</h1>
                    <div class="stat-percent font-bold text-navy" ng-bind-html="(((vm.ShopNumber.TodayNumber-vm.ShopNumber.ContrastNumber)/vm.ShopNumber.ContrastNumber)|number:2)|trend_conversion">
                    </div>
                    <small>较总数</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">今天</span>
                    <h5>注册用户(位)</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{vm.UserNumber.TodayNumber}}</h1>
                    <div class="stat-percent font-bold text-danger" ng-bind-html="(((vm.UserNumber.TodayNumber-vm.UserNumber.ContrastNumber)/vm.UserNumber.ContrastNumber)|number:2)|trend_conversion">
                    </div>
                    <small>较昨日</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>订单</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="flot-chart">
                                <flot dataset="dataset" options="options" height="200px"></flot>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins">{{vm.OrderTotalNumber.TodayNumber}}</h2>
                                    <small>订单总数</small>
                                    <div class="stat-percent">
                                        {{((vm.OrderTotalNumber.TodayNumber/vm.OrderTotalNumber.ContrastNumber)|number:2)*100+'%'}}
                                    </div>
                                    <div class="progress progress-mini">
                                        <div style="width: {{((vm.OrderTotalNumber.TodayNumber/vm.OrderTotalNumber.ContrastNumber)|number:2)*100+'%'}};" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">4,422</h2>
                                    <small>最近一个月订单</small>
                                    <div class="stat-percent">
                                        60% <i class="fa fa-level-down text-navy"></i>
                                    </div>
                                    <div class="progress progress-mini">
                                        <div style="width: 60%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">9,180</h2>
                                    <small>最近一个月销售额</small>
                                    <div class="stat-percent">
                                        22% <i class="fa fa-bolt text-navy"></i>
                                    </div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>店铺(个)</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover margin bottom">
                        <tbody>
                            <tr>
                                <td>
                                    <small>
                                        今日新增
                                    </small>
                                </td>
                                <td class="text-center">
                                    <span class="label label-primary">0</span>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    昨日新增
                                </td>
                                <td class="text-center">
                                    <span class="label label-primary">0</span>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    待审核
                                </td>
                                <td class="text-center">
                                    <span class="label label-warning">0</span>
                                </td>

                            </tr>
                            <tr>
                                <td>店铺到期</td>
                                <td class="text-center">
                                    <span class="label label-primary">0</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>商品(件)</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover margin bottom">
                        <tbody>
                            <tr>
                                <td>
                                    <small>
                                        待审核商品
                                    </small>
                                </td>
                                <td class="text-center">
                                    <span class="label label-primary">25</span>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    出售中
                                </td>
                                <td class="text-center">
                                    <span class="label label-primary">3272</span>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    商品咨询
                                </td>
                                <td class="text-center">
                                    <span class="label label-warning">0</span>
                                </td>
                            </tr>
                            <tr>
                                <td>商品评价</td>
                                <td class="text-center">
                                    <span class="label label-primary">0</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>支付(笔)</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover margin bottom">
                        <tbody>
                            <tr>
                                <td>
                                    <small>
                                        待付款
                                    </small>
                                </td>
                                <td class="text-center">
                                    <span class="label label-primary">0</span>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    待发货
                                </td>
                                <td class="text-center">
                                    <span class="label label-primary">1852</span>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    退款
                                </td>
                                <td class="text-center">
                                    <span class="label label-warning">2</span>
                                </td>

                            </tr>
                            <tr>
                                <td>退货</td>
                                <td class="text-center">
                                    <span class="label label-primary">1</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>