@{
    ViewBag.Title = "订单管理";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage.cshtml";
}
@section styles{
    <link href="~/Areas/Manager/Content/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="~/Areas/Manager/Content/css/plugins/angularjs/ng-table.css" rel="stylesheet" />
    <link href="~/Areas/Manager/Content/css/plugins/angularjs/jquery.datetimepicker.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Manager/Content/js/controllers/orderController.js"></script>
    <script src="~/Areas/Manager/Content/js/plugins/angularjs/plugins/ng-table.min.js"></script>
    <script src="~/Areas/Manager/Content/js/plugins/angularjs/plugins/datepicker.directive.js"></script>
    <script src="~/Areas/Manager/Content/js/plugins/datapicker/jquery.datetimepicker.js"></script>
    <script src="~/Areas/Manager/Content/js/plugins/angularjs/plugins/ng-table-to-csv.min.js"></script>
}
<div class="wrapper wrapper-content" ng-controller="orderCtrl" ng-cloak>
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-xs-12 col-md-12">
                    <div class="example-wrap">
                        <div class="example">
                            <div class="alert">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <span class="input-icon">
                                            <input type="number" class="form-control input-sm" placeholder="订单号" ng-model="vm.orderid">
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <div class="controls">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input class="form-control input-sm" type="text" datetimepicker ng-model="vm.stime" placeholder="开始时间" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="controls">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input class="form-control input-sm" type="text" datetimepicker ng-model="vm.etime" placeholder="结束时间" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="controls">
                                            <div class="input-group">
                                                <span class="input-group-addon input-sm">
                                                    分销商
                                                </span>
                                                <select class="form-control input-sm" ng-change="search()" ng-model="vm.distributor" ng-options="page.Name for page in selectParams"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-sm" ng-click="search()"><i class="fa fa-search">查询</i></button>
                                    <button type="button" class="btn btn-sm" ng-click="clear()"><i class="fa fa-undo">撤销</i></button>
                                    <a class="btn" title="导出CSV" ng-click="csv.generate()" ng-href="{{csv.link()}}" download="订单数据.csv">
                                        <i class="glyphicon glyphicon-new-window"></i> 导出
                                    </a>
                                </form>
                            </div>
                            <div class="flip-scroll">
                                <table ng-table="tableParams" class="table table-striped table-condensed flip-content table-hover" export-csv="csv">
                                    <tr ng-repeat="row in $data">
                                        @*<td data-title="'订单来源'" sortable="'PlatFrom'"><span ng-bind-html="row.PlatFrom|order_paltform"></span></td>*@
                                        <td data-title="'订单号'" sortable="'Id'"><span ng-bind-html="row.PlatFrom|order_paltform:row.Id"></span></td>
                                        <td data-title="'买家'" sortable="'UserName'">{{row.UserName}}</td>
                                        <td data-title="'收货人'">{{row.ShipTo}}</td>
                                        <td data-title="'下单时间'" sortable="'OrderDate'">{{row.OrderDate|jsonDate:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td data-title="'订单总额'">{{row.OrderTotalPrice|currency:'￥'}}</td>
                                        <td data-title="'支付金额'">{{row.OrderTotalPay|currency:'￥'}}</td>
                                        <td data-title="'订单状态'" sortable="'OrderStatus'">{{row.OrderStatus}}</td>
                                        <td data-title="'发货仓'">{{row.ShopName}}</td>
                                        <td data-title="'税费'" sortable="'PushCustomsTax'">{{row.PushCustomsTax|currency:'￥'}}</td>
                                        <td data-title="'是否推送'" sortable="'IsPush'">{{row.IsPush}}</td>
                                    </tr>
                                    @*<tr ng-show="$data.length==0"><td colspan="10" align="center">没有数据</td></tr>*@
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>