<!DOCTYPE html>
<html ng-app="CmsApp">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Areas/Manager/Content/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="~/Areas/Manager/Content/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <!-- Morris -->
    <link href="~/Areas/Manager/Content/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <!-- Gritter -->
    <link href="~/Areas/Manager/Content/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="~/Areas/Manager/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Areas/Manager/Content/css/style.min.css?v=4.0.1" rel="stylesheet">
    @RenderSection("styles", required: false)
    <base target="_blank">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        @RenderBody()
    </div>
    <script src="~/Areas/Manager/Content/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/Areas/Manager/Content/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="~/Areas/Manager/Content/js/plugins/angularjs/angular.js"></script>
    <script src="~/Areas/Manager/Content/js/cms.common.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>